<h1>Listing pools</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>Slug</th>
      <th>Source</th>
      <th>Source trail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= pool.number %></td>
        <td><%= pool.description %></td>
        <td><%= pool.slug %></td>
        <td><%= pool.source %></td>
        <td><%= pool.source_trail %></td>
        <td><%= link_to 'Show', pool %></td>
        <td><%= link_to 'Edit', edit_pool_path(pool) %></td>
        <td><%= link_to 'Destroy', pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pool', new_pool_path %>
